 <div class="col-sm-9 top_products">
  <div class="home_title">
    <h2 class="title">Top Products</h2>
  </div>
  <ul class="row product_list">
    <li class="col-sm-3 product_item">
      <div class="content">
        <a class="img_product_cover" href="#">
          <img src="images/coke_5.jpg" alt="">
        </a>
        <div class="product_des">
          <div class="group_btn clearfix">
            <button class="btn btn_custom btn_cart add_to_cart" aria-label="Buy">
              <span>Buy Product</span>
            </button>
            <a class="btn btn_custom btn_detail" href="#">Detail</a>
          </div>
          <h3 class="title">IPhone</h3>
          <p class="description">This is new product</p>
          <p class="price">2300 $</p>
        </div>
      </div>
    </li>
    <li class="col-sm-3 product_item">
      <div class="content">
        <a class="img_product_cover" href="#">
          <img src="images/coke_5.jpg" alt="">
        </a>
        <div class="product_des">
          <div class="group_btn clearfix">
            <button class="btn btn_custom btn_cart add_to_cart" aria-label="Buy">
              <span>Buy Product</span>
            </button>
            <a class="btn btn_custom btn_detail" href="#">Detail</a>
          </div>
          <h3 class="title">IPhone</h3>
          <p class="description">This is new product</p>
          <p class="price">2300 $</p>
        </div>
      </div>
    </li>
    <li class="col-sm-3 product_item">
      <div class="content">
        <a class="img_product_cover" href="#">
          <img src="images/coke_5.jpg" alt="">
        </a>
        <div class="product_des">
          <div class="group_btn clearfix">
            <button class="btn btn_custom btn_cart add_to_cart" aria-label="Buy">
              <span>Buy Product</span>
            </button>
            <a class="btn btn_custom btn_detail" href="#">Detail</a>
          </div>
          <h3 class="title">IPhone</h3>
          <p class="description">This is new product</p>
          <p class="price">2300 $</p>
        </div>
      </div>
    </li>
    <li class="col-sm-3 product_item">
      <div class="content">
        <a class="img_product_cover" href="#">
          <img src="images/coke_5.jpg" alt="">
        </a>
        <div class="product_des">
          <div class="group_btn clearfix">
            <button class="btn btn_custom btn_cart add_to_cart" aria-label="Buy">
              <span>Buy Product</span>
            </button>
            <a class="btn btn_custom btn_detail" href="#">Detail</a>
          </div>
          <h3 class="title">IPhone</h3>
          <p class="description">This is new product</p>
          <p class="price">2300 $</p>
        </div>
      </div>
    </li>
    <li class="col-sm-3 product_item">
      <div class="content">
        <a class="img_product_cover" href="#">
          <img src="images/coke_5.jpg" alt="">
        </a>
        <div class="product_des">
          <div class="group_btn clearfix">
            <button class="btn btn_custom btn_cart add_to_cart" aria-label="Buy">
              <span>Buy Product</span>
            </button>
            <a class="btn btn_custom btn_detail" href="#">Detail</a>
          </div>
          <h3 class="title">IPhone</h3>
          <p class="description">This is new product</p>
          <p class="price">2300 $</p>
        </div>
      </div>
    </li>
    <li class="col-sm-3 product_item">
      <div class="content">
        <a class="img_product_cover" href="#">
          <img src="images/coke_5.jpg" alt="">
        </a>
        <div class="product_des">
          <div class="group_btn clearfix">
            <button class="btn btn_custom btn_cart add_to_cart" aria-label="Buy">
              <span>Buy Product</span>
            </button>
            <a class="btn btn_custom btn_detail" href="#">Detail</a>
          </div>
          <h3 class="title">IPhone</h3>
          <p class="description">This is new product</p>
          <p class="price">2300 $</p>
        </div>
      </div>
    </li>
  </ul>
</div>
